<% include partials/header.ejs%>

<style>
    body {

        background-image: url("L3Beach.png");
        background-size: cover;
        /*min-width: 100%;*/
        background-repeat: no-repeat;
        /*min-height: 1200px;*/
    }
</style>

        <div class="row">
            <div class="col-sm-3">
                    <img style = "min-width: 50%" onclick="location.href='/drinks'" src="odrink_in.png"/>
                </div>
            <div class="col-sm-6" ></div>

            <div class="col-sm-3" id="list"><br>
                Day at a Glance
                <% drinks.forEach(function(drink){ %>

                    <% if (drink.dservings === 1){ %>
                            <h6><%=drink.name %> ----  <%= drink.dservings %> serving</h6>
                    <%  } else if (drink.dservings !==0){ %>
                            <h6><%=drink.name %> ----  <%= drink.dservings %> servings</h6>
                <%}%>
                <% }); %>

                <br><br>
                Week at a Glance
                <% drinks.forEach(function(drink){ %>
                    <% if (drink.wservings === 1){ %>
                        <h6><%=drink.name %> ----  <%= drink.wservings %> serving</h6>
                    <%  } else if (drink.wservings !==0){ %>
                        <h6><%=drink.name %> ----  <%= drink.wservings %> servings</h6>
                    <%}%>
                <% }); %>
            </div>

        </div>









</body>
</html>